doctype html
html(lang='en' ng-app="SalesTools")
	head
		meta(charset="utf-8")
		title Track-It Sheet
		meta(name="description" content="If you Track-It, you'll do it.")
		link(rel="stylesheet", type="text/css", href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/minified/output.css")

	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-header
				button.navbar-toggle.collapsed(type="button", data-toggle="collapse",data-target="#navbar", aria-expanded="false", aria-controls="navbar")
				a.navbar-brand(href='#') If you Track-It, you'll do it.
				div.theUser
					a.navbar-brand Hello, #{firstname} #{lastname}!
		
		goalprogress

		todaysstuff

		block content
		
	block foot-scripts
		
	script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-resource.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-route.js")
	script(src="/scripts/main.js")