
doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title Track-It Sheet
    meta(name="description" content="If you Track-It, you'll do it.")
    link(rel="stylesheet", type="text/css", href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/minified/output.css")

  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse",data-target="#navbar", aria-expanded="false", aria-controls="navbar")
        a.navbar-brand(href='#') If you Track-It, you'll do it.
        //- div.theUser
        //-   a.navbar-brand Hello!

    //- Error comes through via the context passed when calling res.render('login', {...})
    //- You'll see this in controllers/authentication.js
    //- If the error exists, we'll display it.
    
    div.container
      if error
        h3= error

      //- Form for handling existing user logins.
      h1 Existing Users
      form(action="/auth/login", method="post")
        input(type="text", name="username", placeholder="Username")
        input(type="password", name="password", placeholder="Password")
        input(type="submit")

      //- Form for allowing new users to register.
      h1 Register
      form(action="/auth/signup", method="post")
        input(type="text", name="username", placeholder="Username")
        input(type="email", name="email", placeholder="Email")
        input(type="password", name="password", placeholder="Password")
        input(type="submit")
    
  block foot-scripts
