div.activities
  div.activity(md-ink-ripple ng-repeat="activity in activities" ng-click="logActivity()")
    div.activityBorder
      div.
      div.activityPoints
        p {{activity.points}}
      div.activityName {{activity.activity}}
      div.activityDesc {{activity.description}}
