.activities
  .activityWrapper(ng-repeat="activity in activities")
    //- md-button.md-fab(aria-label='Eat cake')
    //-   md-icon(md-svg-src='img/icons/cake.svg')
    .activity(md-ink-ripple ng-click="logActivity($event)")
      .activityBorder
        
        .activityPoints
          p {{activity.points}}
        .activityName {{activity.activity}}
        .activityDesc {{activity.description}}

