//- .list-group(ng-repeat="activity in activities")
//-     a.list-group-item(href='#') {{activity.activity}

accordion
	accordion-group(heading='{{activity.activity}}', ng-repeat='activity in activities')
		form.form(ng-submit="saveActivityChanges()")
			md-content
				.form-group
					input.form-control(type="text", placeholder="Activity name...", ng-model="activity.activity")
				.form-group
					div(layout='')
						div(flex='10', layout='', layout-align='center center')
							span.md-body-1 Points
						md-slider(flex='', md-discrete='', min='0', max='25', ng-model='activity.points', aria-label='red')
						//- input.form-control.form-control.bfh-number(type="text", placeholder="Activity value...", ng-model="activity.points")
				.form-group
					textarea.form-control(placeholder="Activity description...", ng-model="activity.description", rows="2")
				.form-group
					section
						md-button.md-raised(type="submit", value="Save...", ng-show="!success") Save
						//- .alert.alert-success(role='alert', ng-show="success") Success! Your activity has been changed...