div.progress
  div.progress-bar.active(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: {{today.valueProgress}}%;") {{today.valueProgress}}%
  div.goalProgress 
    span#todaysPoints {{today.todaysTotal}}
    |  points today - your goal: 
    span#goal {{today.goal}} 
    |  points