div.progress
  div.progress-bar.progress-bar-striped.active(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: {{valueProgress}}%;") {{valueProgress}}% complete!
  div.goalProgress 
    span#todaysPoints {{progress.todaysTotal}}
    |  points today - your goal: 
    span#goal {{progress.goal}} 
    |  points