  div.panel-group(role="tablist")
    div.panel.panel-default
      div.panel-heading(role="tab" id="collapseListGroupHeading1")
        h4.panel-title
          a(data-toggle="collapse", href="#collapseListGroup1", aria-expanded="true", aria-controls="collapseListGroup1") Today's History
      div.panel-collapse.collapse(id="collapseListGroup1", role="tabpanel", aria-labelledby="collapseListGroupHeading1", aria-expanded="true")
        ul.list-group

      //-     span.sr-only Toggle navigation
      //-     span.icon-bar
      //-     span.icon-bar
      //-     span.icon-bar
      //-   a.navbar-brand(href="#")
      //- div.collapse.navbar-collapse(id="navbar")
      //-   ul.nav.navbar-nav
      //-     li.active
            //- a(href="#")

            
  //- div.panel-group(role="tablist")
  //-   div.panel.panel-default
  //-     div.panel-heading(role="tab" id="collapseListGroupHeading1")
  //-       h4.panel-title
  //-         a(data-toggle="collapse", href="#collapseListGroup1", aria-expanded="true", aria-controls="collapseListGroup1") Today's History
  //-     div.panel-collapse.collapse(id="collapseListGroup1", role="tabpanel", aria-labelledby="collapseListGroupHeading1", aria-expanded="true")
  //-       ul.list-group